In [1]:
%matplotlib inline
import matplotlib.pyplot as plt

In [2]:
import pandas as pd

In [3]:
dt = pd.read_csv('nEst_vs_mae.csv')

In [4]:
del dt['id']

In [5]:
dt.head()

   n_estimator            mae
0            1  285894.821821
1            2  255278.559286
2            3  239983.397102
3            4  233586.341134
4            5  229140.117022

In [6]:
dt.describe()

       n_estimator            mae
count   499.000000     499.000000
mean    250.000000  207395.660691
std     144.193157    4942.312664
min       1.000000  206115.234499
25%     125.500000  206454.230619
50%     250.000000  206632.281553
75%     374.500000  206868.836770
max     499.000000  285894.821821

In [7]:
dt['mae'].min()

206115.23449918407

In [8]:
dt.loc[dt['mae'].idxmin()]

n_estimator       446.000000
mae            206115.234499
Name: 445, dtype: float64

In [9]:
dt.loc[dt['mae'].idxmin()][0]

446.0

In [10]:
dt.loc[dt['mae'].idxmin()][1]

206115.23449918407

In [11]:
dt['mae'].mean()

207395.66069142954

In [12]:
fig = plt.figure(figsize=(16,9),dpi=300)
plt.plot(dt['n_estimator'],dt['mae'])
plt.scatter([dt.loc[dt['mae'].idxmin()][0]], [dt.loc[dt['mae'].idxmin()][1] ] , color = 'red',label='minimum')
plt.axhline(dt['mae'].mean(),color='red',label='Minimum MAE',linewidth = 1)
# plt.axvline(791,color='green',label='Maximum leaf node with minimum MAE',linewidth=1)
plt.tight_layout()
plt.legend()
plt.show()

SyntaxError: invalid syntax (<ipython-input-12-c09cde8e7a99>, line 3)